.nav-link {
    text-decoration: none;
    color: white !important;
}

.side-link {
    text-decoration: none;
    color: gray !important;
}

.pd-25 {
    padding: .25rem;
} 

.b-bottom {
    border-bottom: 1px solid rgb(167, 167, 167);
}

