body {
    font-family: "Lato", sans-serif;
  }

.mkzside {
    background-color: black;
    height: 100%;
    /* width: 0; */
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: .5rem;
    overflow-x: hidden;
    transition: .6s;
}

.mkzside a{
    font-size: 1.6rem;
    text-decoration: none;
    
    color: rgb(138, 138, 138);
    padding: 1rem 1.5rem 1rem 1rem;
    display: block;
    transition: 0.3s;
}

.mkzside a:hover{
    color: white;
    
    

}

.openbtn, .closebtn {
    font-size: 2rem;
}