/* Text */

.text-center {
    text-align: center;
}

.header-small {
    font-size: 1.25rem;
}
.header-medium {
    font-size: 1.5rem;
}
.header-large {
    font-size: 1.75rem;
}

/* Colors */

.bg-dark-gray {
    background-color: rgb(63, 66, 66);
}

.bg-light-gray {
    background-color: #888888;
}

/* Buttons */

.btn {
    margin-top: 1.1rem;
    padding: 1rem 1.2rem;
    background-color: rgb(63, 66, 66);
    border: 0.5px solid rgb(63, 66, 66);
    border-radius: 0.5rem;
}

.btn:hover {
    color: white;
    background-color: #100E17;
}

.btn-new {
    color: white;
    background-color: #100E17;
    border: 0.5px solid #100E17;
    border-radius: 0.5rem;
}

.btn-new:hover {
    background-color: rgb(63, 66, 66);
}

/* Forms */

.form-group {
    padding: 0.4rem 0;
}

.form-group label {
    display: block;
}

.form-appearance {
    width: 100%;
    padding: 0.4rem;
    font-size: 1rem;
    resize: none;
    border-radius: 0.4rem;
}

/* Container */

.container {
    max-width: 1100px;
    margin: 0 auto;
}