body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

h1,h2,h3,h4,h5,h6 
{
    font-weight: 700 !important;
}

a {
    text-decoration: none !important;
    font-weight: 600 !important;
    letter-spacing: .2px;
}

ul {
    list-style: circle;
}

#firstNav {
    background-color: #f0f0f0;
    box-shadow: 1px 1px 5px black;
}

#secondNav {
    background-color: #2395c5;
    box-shadow: 1px 1px 5px black;

}

#navbar1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menuOpenSpan {
    display: none;
}

#menuCloseSpan {
    display: none;
}

#menuOpenButton,
#menuCloseButton {
    font-size: 1.7rem;
}


#navbar1 .navbar-list {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#navbar1 .navbar-list-item {
    border-radius: .2rem;
    margin: .2rem .6rem;
    padding: .5rem;
}

#navbar1 .navbar-list-item a {
    color: rgb(0, 0, 0);
}

#navbar1 .navbar-list-item a:hover {
    opacity: 0.6;
    transition: .3s;
}

#navbar2 .navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar2 .navbar-list-item {
    padding: .3rem 1.5rem;
    padding-top: 6.5px;
}

#navbar2 .navbar-list-item a {
    color: rgb(255, 255, 255)
}

#navbar2 .navbar-list-item a:hover {
    color: rgb(199, 199, 199);
    transition: .3s;
}

#dropdownMenu {
    display: none;
}

.dropdownContent .navbar-list-item a {
    color: rgb(0, 0, 0) !important;
}

#forMoreButton {
    display: none;
}

.navigationBar
{
    background-color: #dadada;
    border-radius: 4px; 
    margin-top: -.4rem;
    margin-bottom: .5rem;

}

.navigationBar p
{
    margin: 0;
    padding: 5px;
    font-weight: 600;
}

#contentArea
{
    overflow-wrap: break-word;
}

#contentArea img
{
    display :block !important;
    width: 100%;
    max-width: 825px;
    height: auto;
    border-radius: 4px;
}

#contentArea .table
{
    overflow-x: auto;
}

code {
    border-radius: 4px;
}

.sidebar-header {
    border-bottom: darkgray 1.5px solid;
    margin-bottom: .5rem;
}

.sidebar-list-item {
    padding: .2rem 0;
    border-radius: 4px;
    margin: 2px 0;
    padding-left: 4px;
}

.sidebar-list-item:hover {
    color: #0e3242;
    transition: .2s;
}

#sidebar a {
    color: #2395c5;
}


footer {
    background-color: #2395c5;
    color: #fff;
    box-shadow: 0 0 4px black;
    margin-top: .5rem;
}

#footerSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footerSection .richText {
    font-size: 1.35rem;
    padding: 0;
    font-family: 'Courgette', cursive;
}

.problemNavigation
{
    margin: .7rem 0;
    text-align: center;
} 

.problemNavigation a{
    color: rgb(255, 255, 255) !important;
    margin-top: .5rem;
} 

.problemNavigation a h5{
    padding: 6px;
    border-radius: 4px;
    background-color: #9d23e4;
    box-shadow: 1px 1px 4px black;
}

.problemNavigation a h5:hover
{
   color: rgb(207, 207, 207);
   transition: .2s;
    
}

/* HOME */

#home .algoritma 
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#home .algoritma img
{
    margin-right: 1rem;
}

#home .ne-nedir img
{
    margin-left: 1rem;
}

#home .ne-nedir  
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: relative;
}

.algoritma .info,
.ne-nedir .info {
    text-align: center;
} 

.programming
{
    margin: 0 0 1.5rem;
}

.homeCard
{
    border-radius: 4px;
    border: 1px solid #adadad;
    margin: .8rem;
}

.homeCard .title
{
    border-bottom: 1px solid #adadad;
}