#navbar {
    flex-direction: column;
    padding: 0.8rem 0.75rem;
    height: 5rem;
    overflow: hidden;
}

#schools .items {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.certs {   
    align-items: center;
}

.certs .cert {
    flex-direction: column;
}
